* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1360px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.text-center {
  text-align: center;
}
.disblock {
  display: flex !important;
  opacity: 1 !important;
  transition: 0.5s all ease;
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.flex-col {
  flex-direction: column;
}
.uppercase {
  text-transform: uppercase;
}
.text-white {
  color: white;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.ml-5 {
  margin-left: 20px;
}
.ml-8 {
  margin-left: 30px;
}
.bg-black {
  background: black;
}
.bg-blacks {
  background: black !important ;
}
.logo {
  margin-top: 4px;
}
.mobile-height {
  height: 285px;
}
.code-verified {
  display: none;
}

.pop_up {
  z-index: 200;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(61, 61, 61, 0.5);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
}
.resendButton {
  display: none;
  margin-bottom: 28px;
}
.message-thank {
  display: none;
}
.thank-you-message {
  width: 440px;
}
.popup_in {
  background: #e5e5e5;
  width: 560px;
  height: 459px;
  border-radius: 34px;
}
.popup_in h2 {
  font-size: 28px;
}
.popup_in input:focus {
  outline-color: #538eff;
}
.popup_in input[type="email"] {
  margin-top: 28px;
  width: 416px;
  padding: 12px;
  outline: #538eff;
  border: 1px solid white;
  font-size: 20px;
}
.popup_in input[type="email"]:focus {
  border-color: #538eff;
}
.popup_in input[type="number"] {
  width: 60px;
  height: 60px;
  font-size: 28px;
  text-align: center;
  margin-left: 16px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  margin-top: 28px;
}
.popup_in input::placeholder {
  color: #878787;
  font-size: 20px;
}
.popup_in button {
  padding: 10.5px 123.5px;
  width: 440px;
  border-radius: 60px;
  margin-top: 16px;
  border: none;
  background: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.popup_in button:disabled {
  background: #b1b1b1;
  color: white;
  cursor: not-allowed;
  border: none;
}

.popup_in p {
  margin-top: 16px;
  font-size: 18px;
}

.social_media {
  margin-top: 16px;
}
.social_media svg {
  margin-left: 20px;
  cursor: pointer;
  transition: 1s all ease-in-out;
}
.first-social svg:hover rect {
  stroke: #538eff;
}
.first-social svg:hover path {
  fill: #538eff;
}

.second-social svg:hover rect {
  stroke: #538eff;
}
.second-social svg:hover path {
  stroke: #538eff;
}
.popup_in span {
  margin-top: 28px;
  width: 440px;
  text-align: center;
}
.popup_in a {
  text-decoration: none;
}
.popup_in button[disabled] {
  background: #b1b1b1;
  color: #636363;
  border: 1px solid white;
}
.close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.header ul li {
  list-style-type: none;
  padding: 4px 12px;
}
.header ul li a {
  text-decoration: none;
  color: black;
}
.header ul {
  background: #e0e0e0;
  border-radius: 100px;
}
.text-decoration-none {
  text-decoration: none;
}
.link {
  background: #0e0e0e;
  padding: 4px 12px;
  border-radius: 60px;
}
.link svg {
  margin-left: 8px;
}
.menu li.active {
  background: #019dff;
  border-radius: 100px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.banner-desc svg {
  position: absolute;
  bottom: -28%;
  right: 50%;
}

.last-child {
  position: absolute;
  top: -50%;
  right: 50%;
}
.video {
  border-radius: 34px;
}
/* .video video {
  border-radius: 34px;
} */

.menu .active a {
  color: white;
}
.block1 {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}
.block2 {
  margin-top: 200px;
}
.banner-images {
  margin-top: 32px;
}
.banner-text {
  font-size: 40px;
  width: 741px;
  font-weight: 400;
}
.banner-text span {
  color: #538eff;
}
.banner-text main {
  margin-top: 10px;
}

.animation-logo {
  opacity: 0;
  animation: logo 3s infinite;
  animation-timing-function: linear;
  transition: 0.5s all ease;
}
.last-anim {
  opacity: 0;
  animation: anim 3s infinite;
  animation-timing-function: linear;
  transition: 0.5s all ease;
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.line-first,
.line-second {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.line-first {
  animation: drawFirst 3s ease forwards;
}

.line-second {
  animation: drawSecond 5s ease forwards;
  animation-delay: 0.5s;
}

@keyframes drawFirst {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawSecond {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.image-animation {
  cursor: pointer;
  width: 68px;
  height: 342px;
  background: black;
  border-radius: 34px;
  transition: width 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-animation:hover {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.text-animate {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-90deg);
  transition: transform 0.5s ease;
}

.numberic {
  width: 342px;
  height: 100%;
}

.active-animation {
  width: 268px;
  background: #538eff;
  animation-name: textFade;
  animation-duration: 800ms;
  animation-timing-function: ease;
}
.bg-blue {
  background: #538eff;
}

.image-animation.hide-animation {
  transition: none;
}

.mobile-menu {
  display: none;
}
.mobile-menu p {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.mobile-menu svg {
  margin-left: 8px;
}

.num {
  border-radius: 9999px;
  padding: 10px 10px;
  background: white;
  width: 32px;
  height: 32px;
  text-align: center;
  font-weight: 700;
  transform: rotate(90deg);
}
.numberic p {
  font-size: 12px;
  margin-left: 10px;
}

.image-group-animate {
  display: none;
  width: 70%;
  opacity: 0;
  transition: 1s all ease;
}
.image-group-animate p {
  font-size: 13px;
  color: white;
  margin-top: 16px;
}
.image-group-animate img {
  margin-top: 20px;
}
.text-animation {
  transform: rotate(0deg);
  /* transition: 1s all ease; */
  opacity: 1;
  transition: opacity 0.2s ease 0.8s, width 0.8s ease;
}
.text-animation .numberic {
  animation-name: textFade;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.text-animation .image-group-animate p {
  animation-name: textFade;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes textFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-animation .num {
  transform: rotate(0deg);
}
.text-animation .numberic p {
  width: 179px;
}
.text-animation .numberic {
  margin-left: 0;
  justify-content: center;
}
.text-animation .image-group-animate {
  display: block;
  opacity: 1;
  transition: 1s all ease;
}

.ideal-text p {
  width: 471px;
  line-height: 150%;
  color: #538eff;
  margin-left: 8px;
  font-weight: 300;
}
.ideal-text svg {
  margin-top: 5px;
}

.animate-link {
  padding: 10.5px 20.5px;
  margin-top: 32px;
}
.link:hover {
  background: #538eff;
  color: white;
}
.text-blue {
  color: #538eff;
}
.block {
  margin-top: 95px;
}

.our-mission-text p {
  width: 886px;
  color: white;
  line-height: 150%;
  margin-top: 84px;
  margin-left: 39px;
  font-size: 22px;
}
.our-mission-text svg {
  margin-left: 108px;
}
.our-mission-text h1 {
  margin-top: 84px;
}
.our-mission-text p span {
  display: none;
}
.our-mission-text a {
  display: none;
}
.whoam-mobile {
  display: none;
}
.main {
  position: absolute;
  top: -25%;
}

.text {
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-size: 14px;
  fill: white;
}

#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: #538eff;
  border-radius: 9999px;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}

.main {
  display: grid;
  align-items: center;
  justify-items: center;
}

.main .img {
  position: absolute;
  z-index: 10;
}

.line {
  border: 1px solid #538eff;
  transform: rotate(180deg);
  width: auto;
}

.texture {
  margin-left: 145px;
  padding-top: 25px;
}
.whoami {
  width: 100%;
  position: absolute;
  bottom: 25px;
}
.clients-wrap {
  background: #538eff;
}
.client {
  display: flex;
  width: 37%;
  /* border: 1px solid red; */
}
.client:first-child {
  width: 373px;
}
.client-second {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.client-desc .client-second {
  border-left: 1px solid rgba(83, 142, 255);
  border-right: 1px solid rgba(83, 142, 255);
}
.client-second h2 {
  margin-left: 30px;
}
.client-second a {
  margin-right: 40px;
}
.client h2 {
  padding-top: 61px;
  padding-bottom: 61px;
  color: white;
  font-size: 28px;
  font-weight: 500;
}
.client a {
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client a:hover {
  background: #538eff;
}
.client span {
  border-bottom: 1px solid black;
}
.client-desc p {
  width: 350px;
  line-height: 150%;
  padding-top: 44px;
  padding-bottom: 44px;
}
.client-second p {
  margin-left: 30px;
}
.block5 {
  background-color: #eef1f3;
}
.block5 img {
  position: absolute;
  right: 0;
  top: -130%;
  height: 410px;
}

.block6 {
  border-top: 1px solid #538eff;
  border-bottom: 1px solid #538eff;
}
.about-title h1 {
  font-size: 40px;
  font-weight: 500;
}
.about-wrap .flex-col {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-wrap p {
  line-height: 150%;
  width: 862px;
  margin-top: 28px;
  color: #303030;
  font-size: 18px;
}
.line-link {
  margin-right: 94px;
}
.hang {
  padding-top: 120px;
  padding-bottom: 120px;
}
.hang-wrap {
  margin-top: 28px;
}
.hang-wrap .flex-col p {
  margin-top: 16px;
  width: 647px;
  line-height: 150%;
  font-weight: 400;
}
.expert {
  background-color: #538eff;
  border-radius: 60px;
  padding: 50px;
}
.security {
  background-color: black;
}
.learn {
  background-color: #565cff;
}
.ill {
  background-color: #5d02d1;
}
.business {
  background-color: #303030;
}
.patient {
  background-color: #538eff;
}
.banner-desc {
  margin-left: 80px;
}
.banner-desc h1 {
  font-size: 40px;
  color: white;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 400;
}
.banner-desc p {
  margin-top: 40px;
  font-size: 24px;
  color: white;
  line-height: 150%;
}
.banner-desc a {
  background-color: black;
  border: 1px solid white;
  padding: 10.5px 124px;
  border-radius: 60px;
  color: white;
  text-decoration: none;
  margin-top: 40px;
}
.banner-desc a:hover {
  background-color: #538eff;
}
.block4 img {
  display: none;
}

.hidden-button {
  background-color: black;
  border: 1px solid white;
  padding: 10.5px 124px;
  border-radius: 60px;
  color: white;
  text-decoration: none;
  margin-top: 40px;
  display: none;
}
.hidden-button:hover {
  background-color: #538eff;
}
.line-animation {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  margin-top: 120px;
  height: 280px;
  background-color: #303030;
  position: relative;
}

footer .footer-logo {
  margin-left: 39px;
  margin-top: 87px;
}

.footer-img {
  width: 20%;
}
.footer-info {
  height: 280px;
  width: 78%;
}
.footer-img img:last-child {
  position: absolute;
  top: -30%;
}
.info-email a {
  padding-top: 56px;
  padding-bottom: 56px;
}
.info-email a:first-child {
  margin-right: 78px;
}
.info-email a:last-child {
  margin-left: 54px;
}
.info-email a {
  color: white;
  text-decoration: none;
}
.info-email a:nth-child(2) {
  margin-left: 156px;
}
footer .line {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-info .text-white {
  padding-bottom: 56px;
  padding-top: 56px;
}
